---
layout: layout
title: Bachelor's Thesis Blog 
---

<div class="content">
  <div class="related">
    <h1>Documents</h1>
    <ul>
      {% for document in site.documents %}
      <li>
        <a href="{{ site.baseurl }}{{ document.url }}">
          {{ document.title }}
        </a>
      </li>
      {% endfor %}
    </ul>
    <br>
  
    <h1>Posts</h1>
    <ul>
      {% for post in site.posts %}
      <li>
        <span>
          {{ post.date | date: "%B %e, %Y" }}
        </span>
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
        </a>
      </li>
      {% endfor %}
    </ul>
  <br>
  
    <h2>Contact information</h2>
    Author: Miguel Edo<br>
    Email: <a href="mailto:miego.cvcv@gmail.com"> miego.cvcv@gmail.com</a>.
  </div>
</div>