<!DOCTYPE HTML>

<html>
  <head>
    <link href="{{ site.baseurl }}/assets/css/default.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/css/BMFW.css" rel="stylesheet">

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [['$','$'], ['\\(','\\)']],
          processEscapes: true
        }
      });
      </script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Your Name" />
    <title>{{ page.title }}</title> 
  </head>
  <body>
    <header>
      {% if page.url != "/" %}
      <a href="{{ site.baseurl }}">Home</a>
      {% endif %}
      <h1>{{ page.title }}</h1>
    </header>
    <section>
      {{ content }}
    </section>
    <br>
  </body>
  
</html>
